
{% extends 'main.html' %}

{% block content %}

<div>
    Home Page 
    <br />

    <div>
        {% for room in rooms %}
            <div>
                
                <span> @{{ room.host.username }} </span>
                <a href=" {% url 'room' room.id %} "> <!-- href="/room/{{room.id}}" -->
                    <h5>  <strong> {{ room.id }}</strong> --  {{ room.name }} </h5>
                    <small> {{ room.topic.name }} </small>
                    <hr>
                </a>

            </div>

        {% endfor %}

    </div>

</div>
 
{% endblock content %}